{
    "SMTP_SERVERS": [
        { 
            "name": "mailgun",
            "enabled": true,
            "hourly_quota": null,
            "daily_quota": null,
            "monthly_quota": 6250,
            "url": "smtp://username:password@smtp.eu.mailgun.org:587/"
        },
        { 
            "name": "sendgrid",
            "enabled": false,
            "hourly_quota": null,
            "daily_quota": null,
            "monthly_quota": 40000,
            "url": "smtp://apikey:password@smtp.sendgrid.net:587/"
        },
        { 
            "name": "sendinblue",
            "enabled": false,
            "hourly_quota": 40,
            "daily_quota": 300,
            "monthly_quota": 10000,
            "url": "smtp://username:password@smtp-relay.sendinblue.com:587/"
        }
    ]
}
