{
    "OAUTH_CREDENTIALS": {
        "google": {
            "id": "<google client-id>",
            "secret": "<google secret>"
        },
        "facebook": {
            "id": "<facebook client-id>",
            "secret": "<facebook secret>"
        }
    }
}
