
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.gup
/.env.local.*
/.env.*.local.*
_build
/venv
/yoyo.local.ini
/slc/__pycache__/
.gunicorn.pid
/media
