obsession
scour
gunicorn
gevent
fresco
embrace-sql
piglet-templates
psycopg2
fresco-template
diskcache
toml
yoyo-migrations
fresco-flash
pytz
https://hg.sr.ht/~olly/fresco-i18n/archive/a3672a8dd6dc.tar.gz#egg=fresco-i18n
https://hg.sr.ht/~olly/fresco-utils/archive/f576bb773a8f.tar.gz#egg=fresco-utils
https://hg.sr.ht/~olly/htmltextconvert/archive/ba124d1f23fd.tar.gz#egg=htmltextconvert
assetbuilder >= 1.0.1
fresco-static
requests-oauthlib
mailsend >= 1.1.1
email_validator
huey
returns
markdown
psutil
