.countdown {
    color: #44a777;
    color: var(--green);
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.countdown-number {
    font-size: 120px;
    line-height: 120px;
    letter-spacing: -15px;
    margin-right: 50px;
    white-space: nowrap;
}
.countdown-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.countdown-text-line1 {
    font-size: 41px;
    line-height: 40px;
    letter-spacing: -2px;
}
.countdown-text-line2 {
    font-size: 60px;
    line-height: 55px;
    letter-spacing: -2px;
}
.petition-cta {
    margin-top: 30px;
    margin-right: -50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.petition-cta > * {
    margin-right: 50px;
}
.counter {
    margin-top: 0px;
    color: #44a777;
    color: var(--green);
    font-weight: normal;
    line-height: 30px;
}
.counter > * {
    display: block;
}
.counter-count {
    font-size: 50px;
    font-weight: bold;
}
.counter-sign {
    font-size: 33px;
    margin-top: 6px;
}
.counter-since {
    font-size: 20px;
}
.copyright {
    font-size: 14px;
    font-style: italic;
    position: relative;
    top: -8px;
}
.who-are-we-facebook-cta {
    margin-top: 60px;
}

@media (max-width: 900px) {
    .countdown-number {
        font-size: 100px;
        line-height: 100px;
        letter-spacing: -12px;
        margin-right: 30px;
    }
    .countdown-text-line1 {
        font-size: 34px;
        line-height: 40px;
    }
    .countdown-text-line2 {
        font-size: 50px;
        line-height: 40px;
    }
}

@media (max-width: 600px) {
    .countdown-number {
        font-size: 60px;
        line-height: 60px;
        letter-spacing: -8px;
        margin-right: 20px;
    }
    .countdown-text-line1 {
        font-size: 20px;
        line-height: 25px;
    }
    .countdown-text-line2 {
        font-size: 28px;
        line-height: 25px;
    }
    .petition-cta {
        margin-right: -35px;
    }
    .petition-cta > * {
        margin-right: 35px;
    }
}
@media (max-width: 500px) {
    .petition-cta {
        margin-right: 0;
        justify-content: center;
    }
    .petition-cta > * {
        display: block;
        margin-right: 0;
    }
    .counter {
        margin-top: 40px;
    }
    .who-are-we-facebook-cta {
        margin-top: 30px;
    }
}
