:root {
    /* https://coolors.co/44a777-4b5358-727072-977280-6875ca */
    --green: #44a777;
    --green-shade1: #35825d;
    --green-shade2: #122b1f;
    --green-shade3: #25373e;
    --button-bg: var(--green);
    --button-fg: #fff;
    --text-color: #444;
    --grey: #4B5358;
    --silver: #727072;
    --pink: #977280;
    --blue: #6875CA;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    color: #444;
    color: var(--text-color);
    font-family: Arial, sans-serif;
    font-size: 19px;
    line-height: 1.5;
}
img {
    max-width: 100%;
}
.wrapper {
    padding: 40px 0 50px 0;
}
.wrapper--homepage-before-footer {
    padding-bottom: 80px;
    margin-bottom: -50px;
}
.green-bg {
    background-color: #44a777;
    background-color: var(--green);
    color: #fff;
}
.container {
    margin: 1em auto 1em;
    max-width: 800px;
    width: 90%;
}
.header {
    font-size: 15px;
}
.header-admin {
    background-color: var(--green);
    padding: 10px 0;
    font-size: 20px;
}
.header-admin .menu a {
    color: #fff;
}
.header-admin .container {
    max-width: 1200px;
}
.header .wrapper {
    padding: 0;
    margin: 0;
}
.menu {
    display: flex;
    align-items: baseline;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
}
.menu a {
    margin-right: 30px;
    color: #555;
    text-decoration: none;
}
.menu a.active {
    color: #999;
}
.menu a:hover, .menu a:active, .menu a:visited {
    text-decoration: none;
}
.banner {
    background-color: #44a777;
    background-color: var(--green);
    margin-bottom: 0;
}
.banner .container {
    margin-bottom: 0;
    position: relative;
}
.title {
    color: #fff;
    margin: 0;
}
.title-line1 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 50px;
    white-space: nowrap;
    letter-spacing: -3px;
    padding-top: 40px;
    margin: 0;
    transition: 0.3s;
}
.title-line2 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -2px;
    white-space: nowrap;
    font-size: 40px;
    padding-left: 30px;
    margin-top: -15px;
    margin-bottom: 20px;
    transition: 0.3s;
}
.banner-subtitle {
    width: 80%;
    color: #fff;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 27px;
    margin: 0;
    line-height: 32px;
    padding-bottom: 40px;
    padding-left: 0px;
    transition: 0.3s;
}
.counter-wrapper {
    transition: 0.3s;
    transform-origin: right;
}
.counter, .counter-cta {
    position: absolute;
    right: 5px;
    display: block;
    width: 190px;
    text-align: center;
}
.counter {
    bottom: 0;
    color: #44a777;
    background-color: #fff;
    font-weight: normal;
    line-height: 30px;
    border: 0;
    transition: 0.3s;
    padding: 20px 0;
}
.counter-cta {
    position: absolute;
    border: 0;
    padding: 20px 0;
    background-color: #44a777;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
}
.counter-cta:hover {
    background-color: #328f62;
}
.counter > * {
    display: block;
}
.counter-count {
    font-size: 50px;
    font-weight: bold;
}
.counter-sign {
    font-size: 40px;
    margin-top: 10px;
}
.counter-since {
    font-size: 20px;
}

@media (max-width: 850px) {
    .counter-wrapper {
        transform: rotate(4deg) scale(0.8);
    }
    .counter, .counter-cta {
        right: 5px;
    }
}
@media (max-width: 750px) {
    .title-line1 {
        font-size: 46px;
        letter-spacing: -3px;
    }
    .title-line2 {
        font-size: 36px;
        margin-top: -12px;
    }
    .banner-subtitle {
        font-size: 26px;
        line-height: 30px;
    }
}
@media (max-width: 650px) {
    .counter-wrapper {
        transform: rotate(4deg) scale(0.7);
    }
    .counter, .counter-cta {
        right: -10px;
    }
}
@media (max-width: 600px) {
    .title-line1 {
        font-size: 40px;
        letter-spacing: -3px;
    }
    .title-line2 {
        font-size: 32px;
        margin-top: -10px;
    }
    .banner-subtitle {
        font-size: 22px;
        line-height: 25px;
    }
    .counter-wrapper {
        transform: rotate(4deg) scale(0.5);
    }
    .counter, .counter-cta {
        right: -10px;
    }
}
@media (max-width: 500px) {
    .title-line1 {
        font-size: 36px;
        letter-spacing: -3px;
    }
    .title-line2 {
        font-size: 28px;
        margin-top: -7px;
        padding-left: 0;
    }
    .banner-subtitle {
        font-size: 22px;
        padding-left: 0;
    }
    .counter-wrapper {
        transform: rotate(4deg) scale(0.5);
    }
    .counter, .counter-cta {
        right: -10px;
    }
}
@media (max-width: 450px) {
    .title-line1 {
        font-size: 30px;
        letter-spacing: -3px;
    }
    .title-line2 {
        font-size: 24px;
        margin-top: -5px;
    }
    .banner-subtitle {
        font-size: 20px;
    }
}

.grey-bg {
    background-color: #f2f2f2;
}

footer {
    margin-top: 50px;
    padding-top: 20px;
    background-color: #44a777;
    background-color: var(--green);
    color: rgba(255, 255, 255, 0.9);
}
footer .wrapper {
    margin-bottom: 0;
}
footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.quote {
    margin: 30px 0;
    font-style: italic;
    border-left: 6px solid #ccc;
    padding-left: 20px;
}
a {
    color: grey;
    font-weight: 400;
}
.btn {
    font-family: 'Montserrat', Arial, sans-serif;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 3px;
    border: 0;
    background-color: #44a777;
    background-color: var(--button-bg);
    color: #fff;
    color: var(--button-fg);
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}
.btn:hover {
    background-color: #328f62;
}
.btn:hover, .btn:active, .btn:visited {
    text-decoration: none;
}
.btn-i-support {
    font-family: 'Shadows Into Light', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.btn.btn-i-support {
    font-size: 20px;
}
.btn-secondary {
    --button-bg: #eeeeee;
    --button-fg: #666;
}
.btn-s {
    padding: 8px 20px;
    font-size: 1rem;
}
.btn-xs {
    padding: 4px 12px;
    font-size: 0.9rem;
}
.btn-group {
    margin-top: 40px;
    margin-right: -20px;
    margin-bottom: -20px;
}
.btn-group .btn {
    margin-right: 20px;
    margin-bottom: 20px;
}
.btn-share {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-share img {
    width: 2em;
    margin-right: 1em;
}
.btn-reverse {
    background-color: #eee;
    color: #444;
    color: var(--text-color);
}
.btn-reverse:hover,
.btn-reverse:active {
    background-color: #fff;
}
@media (max-width: 800px) {
    .btn {
        width: 100%;
    }
    .btn-group {
        display: flex;
        flex-wrap: wrap;
    }
    .btn-group .btn {
        flex: 1 1 auto;
    }
}
@media (max-width: 500px) {
    .btn {
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .btn-group {

    }
}

/* https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php **/
.youtube-video-wrapper {
	position: relative;
    width: 100%;
	padding-bottom: 56.25%;
	height: 0;
    margin: 30px auto;
    margin-top: 50px;
}
.youtube-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.BlockBg {
    background-color: #44a777;
    background: var(--green);
    color: white;
    padding: 2em;
    --button-bg: rgba(0, 0, 0, 0.3);
}
.BlockBg-warning {
    background-color: #eda200;
}
.BlockBg-notice {
    background-color: #2173a6;
}
.BlockBg a,
.BlockBg a:link,
.BlockBg a:visited,
.BlockBg a:hover,
.BlockBg a:active
{
    color: rgba(255, 255, 255, 0.9);
}
.BlockBg .btn-secondary {
    background-color: #eee;
    color: #444;
    color: var(--text-color);
}
.BlockBg .btn-share,
.BlockBg .btn-share:link,
.BlockBg .btn-share:visited,
.BlockBg .btn-share:hover,
.BlockBg .btn-share:active {
    color: #444;
    color: var(--text-color);
}
.BlockBg > :first-child {
    margin-top: 0;
}
.BlockBg-Footer {
    margin-top: 45px !important;
}

.FlashMessages-Item {
    background: var(--green);
    color: rgba(255, 255, 255, 0.9);
    padding: 0.5em;
    margin: 0.5em 0;
    animation: fadeIn 1.5s forwards;
}
@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1.0 } }
.footnotes {
    margin-top: 50px;
    font-size: 14px;
    text-align: right;
}

button:focus {
    outline: 0;
}

.tag {
    display:inline-block;
    margin-right: 5px;
    margin-bottom: 3px;
    padding: 2px 10px;
    background-color: #444;
    color: #fff;
    border-radius: 15px;
}
.tag-theme {
    background-color: var(--green);
}
.tag-size {
    background-color: var(--grey);
}
.tag-scope {
    background-color: var(--pink);
}
.tag-type {
    background-color: var(--silver);
}
.tag-sector {
    background-color: var(--blue);
}
