:root {
    --green: #44a777;
}
body {
    margin: 0;
    padding: 0;
    color: #444;
    font-family: sans-serif;
    font-size: 19px;
    line-height: 1.5;
}
img {
    max-width: 100%;
}
.wrapper {
    margin-bottom: 20px;
    padding: 30px 0;
}
.container {
    margin: 1em auto 1em;
    max-width: 800px;
    width: 90%;
}
.header {
    font-size: 15px;
}
.header .wrapper {
    padding: 0;
    margin: 0;
}
.menu {
    display: flex;
    align-items: baseline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.menu a {
    margin-right: 30px;
    color: #555;
    text-decoration: none;
}
.menu a.active {
    color: #999;
}
.menu a:hover, .menu a:active, .menu a:visited {
    text-decoration: none;
}
.banner {
    background-color: #44a777;
    background-color: var(--green);
    margin-bottom: 0;
    max-height: 315px;
}
.banner .container {
    margin-bottom: 0;
    position: relative;
}
.title {
    color: #fff;
    margin: 0;
}
.title-line1 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 50px;
    white-space: nowrap;
    letter-spacing: -3px;
    padding-top: 40px;
    margin: 0;
    transition: 0.3s;
}
.title-line2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: -2px;
    white-space: nowrap;
    font-size: 40px;
    padding-left: 30px;
    margin-top: -15px;
    margin-bottom: 20px;
    transition: 0.3s;
}
.hashtags {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 30px;
    margin: 0;
    line-height: 35px;
    padding-bottom: 50px;
    padding-left: 30px;
    transition: 0.3s;
}
.hashtag1 {
    transition: 0.3s;
}
.hashtag2 {
    transition: 0.3s;
}
.counter {
    position: absolute;
    bottom: -56px;
    right: 16px;
    color: #fff;
    background-color: #44a777;
    font-weight: normal;
    line-height: 30px;
    padding: 20px;
    border: 1px solid white;
    transform: rotate(4deg) scale(0.9);
    transition: 0.3s;
}
.counter > * {
    display: block;
}
.counter-count {
    font-size: 50px;
    font-weight: bold;
}
.counter-sign {
    font-size: 33px;
    margin-top: 6px;
}
.counter-since {
    font-size: 20px;
}
@media (max-width: 850px) {
    .counter {
        right: 0;
        transform: rotate(4deg) scale(0.7);
    }
}
@media (max-width: 750px) {
    .title-line1 {
        font-size: 46px;
        letter-spacing: -3px;
    }
    .title-line2 {
        font-size: 36px;
        margin-top: -12px;
    }
    .hashtags {
        font-size: 26px;
        line-height: 30px;
    }
}
@media (max-width: 650px) {
    .counter {
        right: -10px;
        transform: rotate(4deg) scale(0.6);
    }
}
@media (max-width: 600px) {
    .title-line1 {
        font-size: 40px;
        letter-spacing: -3px;
    }
    .title-line2 {
        font-size: 32px;
        margin-top: -10px;
    }
    .hashtags {
        font-size: 22px;
        line-height: 25px;
    }
    .counter {
        right: -10px;
        transform: rotate(4deg) scale(0.5);
    }
}
@media (max-width: 500px) {
    .title-line1 {
        font-size: 36px;
        letter-spacing: -3px;
    }
    .title-line2 {
        font-size: 28px;
        margin-top: -7px;
        padding-left: 0;
    }
    .hashtags {
        font-size: 22px;
        padding-left: 0;
    }
    .counter {
        right: -20px;
        transform: rotate(4deg) scale(0.5);
    }
}
@media (max-width: 450px) {
    .title-line1 {
        font-size: 30px;
        letter-spacing: -3px;
    }
    .title-line2 {
        font-size: 24px;
        margin-top: -5px;
    }
    .hashtags {
        font-size: 20px;
    }
}


.grey-bg {
    background-color: #f2f2f2;
}

footer {
    margin-top: 50px;
    padding-top: 20px;
    background-color: #44a777;
    background-color: var(--green);
    color: rgba(255, 255, 255, 0.9);
}
footer .wrapper {
    margin-bottom: 0;
}
footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

a {
    color: grey;
    font-weight: 400;
}
.btn {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 14px 50px;
    border-radius: 3px;
    border: 0;
    background-color: #44a777;
    background-color: var(--green);
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}
.btn:hover, .btn:active, .btn:visited {
    text-decoration: none;
}
.btn-group {
    margin-top: 40px;
    margin-right: -20px;
    margin-bottom: -20px;
}
.btn-group .btn {
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width: 800px) {
    .btn-group {
        display: flex;
        flex-wrap: wrap;
    }
    .btn-group .btn {
        flex: 1 1 auto;
    }
}
@media (max-width: 500px) {
    .btn {
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .btn-group {

    }
}

/* https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php **/
.youtube-video-wrapper {
	position: relative;
    width: 100%;
	padding-bottom: 56.25%;
	height: 0;
    margin: 30px auto;
}
.youtube-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footnotes {
    margin-top: 50px;
    font-size: 14px;
    text-align: right;
}
