{% extends 'base.html.twig' %}

{% block content %}

<div class="wrapper">
<div class="container">

    <h2 style="margin-top: 0;">Qui sommes-nous ?</h2>
    <p>
        <i>Soutenons La Convention</i> est une initiative externe indépendante de la Convention
        Citoyenne, qui a pour but de les soutenir en associant le reste de la
        population à leur démarche.
    </p>
    <p>
        Elle a été lancée alors que des voix se levaient mais qu'il manquait
        un moyen concrêt pour l'opinion publique de soutenir la Convention Citoyenne.
    </p>
    <p>
        Cette initiative est apolitique. Au delà des clivages,
        nous pensons que l'avenir est l'affaire de tous.
        Sans renoncer à nos sensibilités, il est temps de s'allier
        au nom de l'intérêt général, autour d'une démarche qui représente
        une bouffée d'air frais démocratique.
    </p>
    <p>
        Nous souhaitons respecter l'indépendance de la Convention.
        Ce collectif n'a pour but que de les soutenir, sans autre revendication.
    </p>

    <h3>Initiatives liées</h3>
    <p>
        <a target="_blank" href="{{ asset('pdf/appel-soigants.pdf') }}">Appel des soignants à soutenir la Convention Citoyenne pour le Climat</a>
    </p>


    <h2 style="margin-top: 60px;">Pourquoi soutenir la Convention ?</h2>
    <p>
        Une partie des propositions de la Convention ne sera pas simple à adopter.
    </p>
    <p>
        Ni par le gouvernement, ni par la population.
    </p>
    <p>
        Elles vont bousculer nos habitudes.
    </p>
    <p>
        Il est possible que ces propositions ne soient pas suffisamment
        prises en compte, qu'elles soient noyées dans les priorités de
        court-terme ou vidées de leur contenu.
    </p>
    <p>
        Il est en tout cas probable qu'elles rencontrent des obstacles.
    </p>
    <p>
        C'est dans ce contexte que nous souhaitons donner la possibilité
        à l'opinion publique d'exprimer son soutien à la Convention Citoyenne
        pour le Climat.
    </p>


    <h2 style="margin-top: 60px;">Comment participer ?</h2>

    <p>
        Si vous voulez nous aider à faire grandir le mouvement,
        n'hésitez pas à nous contacter ou à rejoindre nos soutiens.
    </p>

    <p style="margin-top: 70px;">
        <a class="btn" style="margin-bottom: 20px; margin-right: 10px;" target="_blank" href="mailto:contact@soutenonslaconvention.fr">
            Contactez-nous
        </a>
        <a class="btn"  href="{{ path('soutiens') }}">
            Voir / Rejoindre nos soutiens
        </a>
    </p>

</div>
</div>


{% endblock %}
