{% extends 'base.html.twig' %}

{% block content %}

<div class="wrapper">
<div class="container">

    <h2 style="margin-top: 0;">Qui sommes-nous ?</h2>
    <p>
        <i>Soutenons La Convention</i> est une initiative externe indépendante de la Convention
        Citoyenne, qui a pour but de les soutenir en associant le reste de la
        population à leur démarche.
    </p>
    <p>
        Elle a été lancée alors que des voix se levaient mais qu'il manquait
        un moyen concrêt pour l'opinion publique de soutenir la Convention Citoyenne.
    </p>
    <p>
        Cette initiative est apolitique. Ni de droite, ni de gauche,
        nous pensons que l'avenir est l'affaire de tous.
        Sans renoncer à nos sensibilités, il est temps de s'allier
        au nom de l'intérêt général, autour d'une démarche qui représente
        une bouffée d'air frais démocratique.
    </p>
    <p>
        Nous souhaitons respecter l'indépendance de la Convention.
        Ce collectif n'a pour but que de les soutenir, sans autre revendication.
    </p>

    <h2 style="margin-top: 40px;">Nos soutiens</h2>
    <p>
        Cette initiative est inclusive.
    </p>
    <p>
        Les soutiens ci-dessous ont été
        ajoutés au fil du temps.
    </p>
    <p>
        Si vous vous retrouvez dans
        <a target="_blank"
            href="https://www.mesopinions.com/petition/nature-environnement/sortie-crise-soutenons-convention-citoyenne-climat/86134">
            la pétition</a>,
        <a target="_blank" href="mailto:nicolas@soutenonslaconvention.fr">
            rejoignez-nous</a>
        !
    </p>
    <h3>Associations</h3>
    {% include 'includes/soutiens.html.twig' %}

    <h3>Personnalités</h3>
    <p>
        Matthieu Ricard
    </p>


    <h3>Initiatives liées</h3>
    <p>
        Appel des soignants à soutenir la Convention Citoyenne pour le Climat
    </p>

    <br>
    <p>
        <a class="btn" target="_blank" href="mailto:nicolas@soutenonslaconvention.fr">
            Ajoutez votre organisation
        </a>
    </p>

</div>
</div>


{% endblock %}
