<py:extends href="../base.html">

<py:block name="content">

<div class="wrapper">
<div class="container">

    <h2 style="margin-top: 0;">Qui sommes-nous ?</h2>
    <p>
        <i>Soutenons La Convention</i> est une initiative transpartisane
        de soutien à la Convention Citoyenne pour le Climat.
    </p>
    <p>
        Nous souhaitons donner de la visibilité aux personnes et organisations
        de tous horizons qui soutiennent la démarche démocratique
        et le message de la CCC.
    </p>
    <p>
        Elle a été lancée en avril 2020 par 2 citoyens sensibilisés à l'intérêt
        des assemblées citoyennes et à l'urgence écologique.
    </p>
    <p>
        Cette initiative est inclusive.
        Sans renoncer à nos sensibilités, il est temps de s'allier
        autour d'une démarche qui répond aux enjeux du moment
        et qui représente une bouffée d'air frais démocratique.
    </p>


    <h2 style="margin-top: 60px;">Comment participer ?</h2>

    <p>
        Si vous voulez nous aider à faire grandir l'initiative,
        n'hésitez pas à nous contacter ou à rejoindre les soutiens.
    </p>

    <p class="btn-group" style="margin-top: 70px;">
        <a class="btn" style="margin-bottom: 20px; margin-right: 10px;" target="_blank" href="mailto:contact@soutenonslaconvention.fr">
            Contactez-nous
        </a>
        <br/>
        <a class="btn"  href="${urlfor('support-us')}">
            Ajouter un soutien au compteur
        </a>
        <a class="btn"  href="${urlfor('soutiens')}">
            Ajouter un soutien visible
        </a>
    </p>


</div>
</div>


</py:block>
</py:extends>
