<py:extends href="../base.html">
<py:block name="content">

<div class="wrapper">
<div class="container">


    <h2>C'est quoi la Convention Citoyenne ?</h2>
    <p>
        La Convention Citoyenne est composée de citoyens comme vous et moi,
        tirés au sort, représentatifs de la diversité française, qui, depuis 6
        mois, s’informent, auditionnent des experts, débattent et font mûrir
        leurs réflexions. C’est notre intelligence collective mise au service de
        l’intérêt général.
    </p>
    <p>
        Ils sont, à bien des égards, plus représentatifs de la société française
        que les élus.
    </p>
    <p>
        Ils sont d’autant plus légitimes que ce procédé court-circuite les
        travers de notre système politique : pas de logique de partis, pas de
        court-termisme lié aux échéances électorales, pas de crainte de froisser
        telle ou telle partie de l’électorat. Ils sont libres de se concentrer
        pleinement sur leur <span style="white-space: nowrap">mandat :</span>
        trouver des mesures pour réduire les
        émission de gaz à effet de serre d’au moins 40% d’ici 2030, dans un
        esprit de justice sociale.
    </p>

</div>
</div>


<div class="wrapper grey-bg">
<div class="container">

    <h1>Soutien à la Convention Citoyenne pour le Climat</h1>

    <p>
        Des sommes colossales vont être injectées dans l'économie.
    </p>
    <p>
        Nous avons une opportunité de réorienter notre société vers des pratiques plus
    respectueuses de notre avenir.
    </p>
    <p>
        La Convention Citoyenne a fait des propositions fortes.
    </p>
    <p>
        C'est le gouvernement lui-même qui l'a mandatée.
    </p>
    <p>
        Profitons-en !
    </p>
    <br/>
    <p>
        <a class="btn" target="_blank"
    href="https://www.mesopinions.com/petition/nature-environnement/sortie-crise-soutenons-convention-citoyenne-climat/86134">Voir
    la pétition</a>
    </p>

</div>
</div>


<!--div class="wrapper">
    <div class="container">
        <h2>Quelles sont leurs propositions ?</h2>
        <p>
            Leurs propositions ne sont pas encore complètement
            finalisées.
            Pour travailler sereinement, ils ont décidé de ne pas les rendre
            publiques avant leur vote final.
        </p>
        <p>
            Face à l’urgence de la sortie de crise, ils ont
            sélectionnés les mesures les plus à même de contribuer “<i>à la fois à
            une relance économique, à réduire les émissions de gaz à effet de
            serre et, indéniablement, à améliorer notre santé et notre bien-être
            collectifs, tout en tenant compte des populations les plus
            fragiles</i>”; et les ont envoyées au gouvernement.
        </p>
        <p>
            Elles seront bien sûr rendues publiques à la fin de leurs travaux.
        </p>
        <p>
            Nous trouverons tous des mesures qui nous conviennent et d’autres moins.
            Certains qui vont trop loin à notre goût et d'autres pas assez.
        </p>
        <p>
            Au delà de nos différences, l'heure est au soutien.
            Les propositions de la Convention ont une
            légitimité démocratique indiscutable et sont ce qu’il y a de plus
            abouti sur la table du gouvernement, dans un contexte où nous
            manquons cruellement de temps.
        </p>
</div>
</div-->


<div class="wrapper">
<div class="container">

    <h2>Qui sommes-nous ?</h2>
    <p>
        Cette pétition est une initiative externe indépendante de la Convention
        Citoyenne, qui a pour but de les soutenir en associant le reste de la
        population à leur démarche.
    </p>
    <p>
        Cette initiative a été lancée dans l'urgence, sans soutien particulier,
        mais elle est inclusive.
        Tous ceux qui se retrouvent dans la pétition sont les bienvenus.
    </p>
    <p>
        Sans renoncer à nos sensibilités, il est temps de s'allier pour
        soutenir les propositions de la Convention Citoyenne.
    </p>
    <p>
        Si vous souhaitez vous associer à cette initiative ou nous informer
        d'autres initiatives existantes, n'hésitez pas à nous contacter.
    </p>
    <p>
        NB: Nous souhaitons respecter l'indépendance de la Convention.
        Cette démarche est apolitique et n'a pour but que de les soutenir,
        sans autre revendication.
    </p>

</div>
</div>

</py:block>
