<py:extends href="../base.html">
<py:block name="banner"/>
<py:block name="content">
    <div class="wrapper">
        <div class="container">
            <h1>Merci, ${email} !</h1>

            <h2>En ce moment même, un courriel circule dans l'éther en direction de votre boîte de réception.</h2>

            <p>Ou votre boîte à spam. Vérifiez là aussi.</p>

            <div class="BlockBg">
                Votre soutien ne sera pas pris en compte tant que vous n'aurez pas cliqué sur le lien contenu dans ce courriel !
            </div>
        </div>
    </div>
</py:block>
</py:extends>
