<py:extends href="../base.html">
<py:block name="banner"/>
<py:block name="content">
    <div class="wrapper">
        <div class="container">
            <h1>Merci, ${email} !</h1>

            <h2>
                Pour valider votre soutien, veuillez cliquer sur le lien dans
                le courriel qui vient de vous êtes envoyé.
            </h2>

            <p>Si le courriel n'apparaît pas rapidement, vérifiez aussi votre boîte spam.</p>

            <div class="BlockBg BlockBg-notice" style="margin-top: 50px;">
                ⚠ Votre soutien ne sera pas pris en compte tant que vous n'aurez
                pas cliqué sur le lien dans ce courriel
            </div>
        </div>
    </div>
</py:block>
</py:extends>
