{% extends 'base.html.twig' %}

{% block content %}

<div class="wrapper">
<div class="container">

    <img class="logo" src="{{ asset('/img/logo-large.png') }}" />

</div>
</div>

<div class="wrapper grey-bg">
<div class="container">

    <h2>C'est quoi une Assemblée Citoyenne ?</h2>

    <p>
        Une Assemblée Citoyenne est un groupe de citoyens tirés au sort
        qui ont plusieurs mois pour :
        <ul>
            <li>s'informer sur un sujet, auditionner des experts</li>
            <li>débattre et formuler des propositions</li>
        </ul>
    </p>

    <h2>Une Assemblée Citoyenne, ce n'est pas</h2>
    <h3>Un référendum</h3>
    <p>
        Un référendum vous propose de choisir entre
        des propositions dont vous ne pouvez pas sortir.
    </p>
    <p>
        Une assemblée citoyenne va élaborer ses propres propositions
        pour répondre à la problématique.
    </p>
    <h3>Un sondage</h3>
    <p>
        Dans un sondage, on demande l'avis de gens qui, la plupart du temps,
        n'ont pas eu l'occasion de s'informer ou de réfléchir à la question.
    </p>
    <p>
        Dans une assemblée citoyenne, les membres ont plusieurs mois pour
        s'informer, débattre et faire mûrir la réflexion.
    </p>
    <h3>Une assemblée populaire</h3>
    <p>
        On utilise une assemblée populaire pour organiser des débats qui
        s'achèvent par une prise de décision le jour-même.
        Cela se prête bien à certains types de sujets.
    </p>
    <p>
        Dans une assemblée citoyenne, les membres ont plusieurs mois pour s'informer,
        débattre et faire mûrir la réflexion.
    </p>
</div>
</div>

<div class="wrapper grey-bg">
<div class="container">

    <h2>Les avantages d'une Assemblée Citoyenne</h2>

    <div class="blurb">
        <h3 class="blurb-title">Pas de court-termisme</h3>
        <div class="blurb-text">
            Les membres d'une assemblée citoyenne ne sont pas élus, ils sont tirés au sort.
            <br/>
            Ils ne sont donc pas liés aux échéances électorales et
            peuvent se concentrer sur des solutions à long-terme.
        </div>
    </div>
    <div class="blurb">
        <h3 class="blurb-title">Pas de politique partisanne</h3>
        <div class="blurb-text">
            Pas de politique de partis, de consignes de votes ni de blocage partisan.
        </div>
    </div>
    <div class="blurb">
        <h3 class="blurb-title">Pas de lobbies</h3>
        <div class="blurb-text">
            Pas de lobbies ni de donateurs de campagne.
        </div>
    </div>
    <div class="blurb">
        <h3 class="blurb-title">Pas de peur de froisser des intérêts particuliers</h3>
        <div class="blurb-text">
            Un membre d'une assemblée de doit pas ménager les intérêts particuliers
            d'un électorat.
        </div>
    </div>

    <br/><br/>
    <p>
        On constate qu'une assemblée citoyenne court-circuite plusieurs travers de la politique
        actuelle.
    </p>
    <p>
        Contrairement à nos élus qui souvent sont victimes de ce système,
        les membres d'une assemblée citoyenne sont libres de se concentrer sur leur mandat.
    </p>
    <p>
        C'est une bouffée d'air frais démocratique !
    </p>

</div>
</div>


<div class="wrapper grey-bg">
<div class="container">

    <h2>Une Assemblée Citoyenne n'est pas élue, ce n'est pas démocratique !?</h2>

    <p>
        Les élections ne sont qu'un outil pour organiser une démocratie.
    </p>
    <p>
        De plus en plus de gens pensent que le système actuel, qui repose
        uniquement sur des élections une fois tous les 5 ans, est à bout de souffle.
    </p>
    <p>
        L'enjeu est de faire évoluer la démocratie pour qu'elle puisse
        continuer à fonctionner dans un monde qui évolue.
    </p>
    <p>
        D'autre part, des citoyens tirés au sorts
        sont à certains égards plus représentatifs de la société que les élus.
    </p>
</div>
</div>




{% endblock %}
