{% extends 'base.html.twig' %}

{% block content %}

<div class="wrapper">
<div class="container">

<h1>Politique de Confidentialité</h1>

<h2>Les données que nous recueillons</h2>

<h3>1) Données partagées dans le cadre de votre soutien à la Convention</h3>
<p>
    Ce sont les informations que vous communiquez dans la procédure
    de soutien à la Convention Citoyenne : email, nom, prénom, photo,
    témoignage...
</p>

<h3>
    2) Données fournies par votre navigateur et FAI
</h3>
<p>
    Il s'agit de l'adresse IP, du nom du navigateur, du système
    d'exploitation et de sa version.
    Comme sur tous les serveurs, ces informations sont enregistrées
    automatiquement dans les fichiers de monitoring du serveur,
    avec l'heure de la visite et la ou les pages consultées.
    Ces informations permettent de garantir la disponibilité et la sécurité
    du site (protection contre les attaques, détection et résolution de problèmes techniques).
    Ces données ne sont pas nominatives.
</p>


<h2>Publication de données sur le site</h2>

<p>
    Certaines informations (pseudo, photo, nom, prénom) sont susceptibles d'être
    publiées sur le site dans le cadre de l'objectif de soutien
    à la Convention Citoyenne.
</p>
<p>
    C'est bien sûr le cas pour la liste des soutiens nominatifs.
</p>

<h2>Partage de données avec des tiers</h2>

<p>
    Nous ne transmettons les données à des tiers que
    si c’est nécessaire à l’exécution de l'objectif de soutien
    à la Convention Citoyenne
    pour le Climat ou de nos obligations légales.
</p>
<p>
    Les données personnelles identifiables sont susceptibles d'être
    partagées avec les autorités concernées par les travaux de la
    Convention Citoyenne
    ( Ministère de la Transition écologique et Solidaire,
    cabinet du Premier Ministre, cabinet du Président)
    dans le cadre de la remise de la liste des soutiens.
</p>

<p>
Nous ne transmettons pas les données fournies par vous à d’autres
parties, si ce n’est pas légalement obligatoire et autorisé. De même, nous ne
pouvons partager des données personnelles avec des tiers que si vous nous en
donnez l’autorisation. Vous avez le droit, en tout temps, de retirer cette
permission sans que cela porte préjudice à la légitimité du traitement pour son
retrait.
</p>
<p>
Nous ne fournissons aucune donnée personnelle à des parties qui sont établies en
dehors de l’UE.
</p>
<h2>Mineurs</h2>
<p>Le matériel de notre site Web ne s'adresse pas aux personnes de moins de
16 ans, et nous ne recueillons pas sciemment de renseignements personnels à leur
sujet.
</p>

<h2>Délai de conservation</h2>
<p>Nous ne conservons pas les données personnelles plus
longtemps que nécessaire. Elles sont conservées pour l’objet pour lequel elles
sont fournies ainsi que sur base de ce qui est exigé par la loi.
</p>

<h2>Vos droits</h2>
<p>
    Vous avez toujours droit de regard, droit à la correction et à
l’effacement des données personnelles que nous avons reçues de votre part.
</p>
<p>
Vous pouvez aussi vous opposer au traitement de vos données personnelles (ou
d’une partie de celles-ci) par nous ou par l’un de nos collaborateurs.
</p>
<p>
Vous avez aussi le droit de nous faire transférer les données fournies par vous à
vous-même ou directement à une autre partie à votre demande. Nous pouvons vous
demander de vous identifier avant de donner suite aux demandes précitées.
</p>


<h2>Plaintes</h2>
<p>
    Vous avez le droit de porter plainte auprès de la Commission Nationale
    de l'information et des libertés ( CNIL), l’autorité de surveillance dans le domaine
de la protection de la vie privée. Vous trouverez les coordonées sur
https://www.cnil.fr/.
</p>


</div>
</div>



{% endblock %}
