<py:extends href="../base.html">

<py:block name="content">

<div class="wrapper">
<div class="container homepage-container-first">

<p>
    Citoyennes et citoyens libres, indépendants de tout parti ou influence,
    représentatifs de la société : nous sommes 150 femmes et hommes âgés de 16 à
    80 ans, de toutes origines et professions. Nous avons été sélectionnés par
    tirage au sort selon une génération aléatoire de numéros de téléphone, sans
    nous être portés volontaires préalablement, pour être membres de la
    convention citoyenne pour le climat afin que nous formions une image de la
    société française capable de vous représenter.
</p>
<p>
    Nous ne sommes pas des experts, nous sommes des citoyennes et citoyens comme les
    autres, représentatifs de la diversité de la société. Nous avons le pouvoir de
    décider et de faire changer les choses, pouvoir que nous avons exercé avec une
    attention particulière pour les plus fragiles, et ce dans un esprit de justice
    sociale.
</p>
<p>
    La convention citoyenne pour le climat est la première expérience démocratique
    d’ampleur faisant appel au tirage au sort – et donc reconnaissant la capacité
    des citoyennes et citoyens ni spécialistes ni militants de s’exprimer sur un
    sujet d’avenir majeur.
</p>
<p>
    Nous avons vécu ensemble, pendant neuf mois, une expérience humaine inédite et
    intense, qui nous a amenés à prendre conscience de l’impérieuse nécessité d’un
    changement profond de l’organisation de notre société et de nos façons de vivre.
</p>
<p>
    Pour répondre à la question qui nous était posée, « Comment réduire d’au moins
    40 % par rapport à 1990 les émissions de gaz à effet de serre [(GES)] d’ici à
    2030, dans le respect de la justice sociale ? », nous avons échangé librement
    dans la pluralité de nos opinions. Nous nous sommes nourris d’échanges avec des
    experts et des représentants économiques, associatifs et publics, afin d’être en
    capacité de rédiger des mesures concrètes, en connaissance de cause et en toute
    indépendance. (…)
</p>
<p>
    Ce que nous avons vécu est une véritable prise de conscience de l’urgence
    climatique : la Terre peut vivre sans nous, mais, nous ne pouvons pas vivre sans
    elle. (…) Nous ne sommes pas uniquement devant le choix d’une politique
    économique pour faire face à une crise économique, sociale et environnementale,
    nous devons agir sans plus attendre pour stopper le réchauffement et le
    dérèglement climatiques qui menacent la survie de l’humanité. Si nous ne
    rattrapons pas le retard pris, beaucoup de régions du globe deviendront
    inhabitables, du fait de la montée des eaux ou de climats trop arides. C’est une
    question de vie ou de mort !
</p>
<p>
    Nous ne sommes pas en compétition avec les élus ou les autres acteurs de la
    société française : nous devons tous changer nos comportements en profondeur
    pour laisser à nos enfants et petits-enfants une planète viable. (…)
</p>
<p>
    Nous attendons du gouvernement et des pouvoirs publics une prise en compte
    immédiate de nos propositions permettant une accélération de la transition
    écologique, notamment dans la stratégie de sortie de crise, en faisant du climat
    la priorité des politiques publiques, en évaluant les résultats et en
    sanctionnant les écarts. (…)
</p>
<p>
    Nous invitons les acteurs économiques à mener une action plus volontariste en
    faveur de la transition écologique, en faisant de cette problématique une
    opportunité pour repenser en profondeur nos modes de production et de
    consommation, et favoriser une meilleure distribution des richesses. L’urgence
    climatique nous impose des décisions difficiles mais indispensables : soyez
    inventifs. (…)
</p>
<p>
    Il apparaît inévitable de revoir nos modes de vie, nos manières de consommer, de
    produire et de travailler, de nous déplacer, de nous loger et de nous nourrir. (…)
    Nous, les 150 citoyennes et citoyens, sommes conscients que les mesures que nous
    préconisons peuvent être difficiles à comprendre et parfois à accepter pour tous
    ceux qui verront leur métier disparaître et devront se réorienter, et qu’elles
    impliquent de nouvelles contraintes pour tous les Français.
</p>
<p>
    La plupart d’entre nous n’auraient pu imaginer en acceptant de participer à
    cette convention qu’ils puissent préconiser des mesures qui peuvent sembler
    extrêmes. Pour autant, il est vraisemblable qu’elles soient encore insuffisantes
    pour atteindre l’objectif de réduction de 40 % des émissions de GES et maintenir
    l’augmentation de la température de la terre en deçà de 2 degrés.
</p>
<p>
    Nous pensons donc important que nos concitoyennes et concitoyens se saisissent
    de tous les sujets que nous avons travaillés pendant neuf mois avec le souci
    constant de l’intérêt commun. Nous les engageons à faire entendre leurs voix
    auprès des élus qui les représentent à toutes les échelles du territoire
    français, et à leur demander des comptes chaque fois que leurs décisions ne
    tiendront pas compte de l’urgence climatique et du respect de la biodiversité.
</p>
<p>
    Nous considérons que la réussite de cette convention dépendra en grande partie
    du respect par l’exécutif de son engagement à transmettre nos propositions «
    sans filtre », c’est-à-dire dire sans être reformulées ni adaptées, mais
    également de leur prise en compte par le pouvoir législatif. (…)
</p>
<p>
    Les référendums sur la Constitution et la reconnaissance du crime d’écocide que
    nous demandons permettront à tous les Français de prendre conscience, comme nous
    l’avons fait, des enjeux et des dangers du réchauffement climatique, et d’une
    sixième extinction de masse, de débattre et de s’approprier la transformation de
    la société qu’impliquent nos mesures.
</p>


</div>
</div>



</py:block>
</py:extends>
