<py:extends href="../base.html">
<py:block name="content">

<div class="wrapper">
<div class="container">


    <h2 style="margin-top: 0;">Ils soutiennent la Convention</h2>

    <h3 style="margin: 50px 0 40px 0;">Associations</h3>

    <py:extends href="../soutiens/associations.html"/>

    <p style="margin: 50px 0 80px 0;">
        <a class="btn" target="_blank" href="mailto:contact@soutenonslaconvention.fr">
            Ajoutez votre organisation
        </a>
    </p>

    <h3 style="margin-top: 40px;">Personnalités</h3>

    <py:extends href="../soutiens/personalities.html"/>

    <h3 style="margin-top: 40px;">Scientifiques</h3>

    <py:extends href="../soutiens/scientists.html"/>

    <h3 style="margin-top: 40px;">Professionnels de la Santé</h3>

    <py:extends href="../soutiens/health-personalities.html"/>

    <p style="margin: 50px 0 80px 0;">
        <a class="btn" target="_blank" href="mailto:contact@soutenonslaconvention.fr">
            Ajoutez votre soutien
        </a>
    </p>


    <h3 style="margin: 60px 0 30px 0;">Documentaire "Les 150"</h3>
    <p>
        Face à l'urgence climatique, 150 français tirés au sort travaillent dans
        la cadre de la convention citoyenne pour le climat pour proposer des
        solutions concrètes. Cette expérience démocratique inédite doit être mis
        en avant et connue de tous. Nous souhaitons en faire un film pour vous
        raconter en quoi cette expérience a changé leur vie.
    </p>
    <div class="btn-group">
        <a class="btn" target="_blank" href="https://www.ulule.com/les150/">
            Voir le projet sur Ulule
        </a>
    </div>
    <h3 style="margin: 60px 0 30px 0;">Appel des soignants</h3>
    <p>
        Nous, professionnels de santé, appelons tous les soignants de France et
        au-delà des frontières, les ONG et les associations, les élus et
        l’ensemble des citoyens, à une mobilisation massive et constructive pour
        soutenir la Convention Citoyenne pour le Climat.
    </p>
    <div class="btn-group">
        <a class="btn" target="_blank" href="${static('pdf/appel-soigants.pdf')}">
            Voir l'appel des soignants
        </a>
    </div>
    <h3 style="margin: 60px 0 30px 0;">Tribune de 76 patrons et réseaux d'entreprises</h3>
    <p>
        Nous, collectif de réseaux d’entrepreneurs et d’entreprises, soutenons
        la démarche et les ambitions de la Convention citoyenne pour le climat
        et saluons le travail des citoyens qui ont bâti 150 propositions pour
        l’avenir.
    </p>
    <div class="btn-group">
        <a class="btn" target="_blank" href="https://www.lejdd.fr/Societe/danone-camif-armor-biocoop-les-patrons-de-76-entreprises-appellent-a-semparer-de-lurgence-climatique-3977632">
            Voir la tribune
        </a>
    </div>
    <h3 style="margin: 60px 0 30px 0;">Voter pour le Climat</h3>
    <p>
        Plateforme pour prendre connaissance et voter sur les propositions de la Convention
        Citoyenne pour le Climat.
    </p>
    <div class="btn-group">
        <a class="btn" target="_blank" href="https://www.voterpourleclimat.fr/">
            Voir le site web
        </a>
    </div>

    <h3 style="margin: 60px 0 30px 0;">Imagine, on le fait</h3>
    <p>
        Nous, organisations environnementales, sociales, jeunes, souhaitons
        afficher notre soutien aux “150” à travers une campagne citoyenne pour
        demander au Président de la République de respecter son engagement
        envers la Convention Citoyenne pour le Climat.
    </p>
    <div class="btn-group">
        <a class="btn" target="_blank" href="https://www.imagineonlefait.fr/">
            Voir le site web
        </a>
    </div>


    <p style="margin-top: 100px;">
        <a style="float:left; margin-right: 20px; position: relative; top: -10px;"
            target="_blank" href="https://www.facebook.com/Soutenons-la-Convention-102637561438247">
            <img src="${static('img/icon-facebook.png')}" alt=""/>
        </a>
        Suivez-nous sur facebook pour être tenu au courant de l'évolution
        et des initiatives de soutien à la Convention.
    </p>


</div>
</div>


</py:block>
</py:extends>
