{% extends 'base.html.twig' %}

{% block content %}

<div class="wrapper">
<div class="container">

    <h2>Nos soutiens</h2>

    <p>
        Cette initiative est apolitique et inclusive.
    </p>
    <p>
        Si vous vous retrouvez dans la pétition, rejoignez-nous !
    </p>

    <h3>Associations</h3>
    {% include 'includes/associations.html.twig' %}

    <p style="margin: 50px 0 80px 0;">
        <a class="btn" target="_blank" href="mailto:contact@soutenonslaconvention.fr">
            Ajoutez votre organisation
        </a>
    </p>

    <h3>Personnalités</h3>
    <p>
        Matthieu Ricard
    </p>

    <p style="margin: 50px 0 80px 0;">
        <a class="btn" target="_blank" href="mailto:contact@soutenonslaconvention.fr">
            Ajoutez votre soutien
        </a>
    </p>

    <p style="margin-top: 100px;">
        <a style="float:left; margin-right: 20px; position: relative; top: -10px;"
            target="_blank" href="https://www.facebook.com/Soutenons-la-Convention-102637561438247">
            <img src="{{ asset('img/icon-facebook.png')}}" alt="">
        </a>
        Suivez-nous sur facebook pour être tenu au courant de l'évolution
        de la pétition et des prochaines initiatives de soutien à la Convention.
    </p>


</div>
</div>


{% endblock %}
