<py:extends href="support-us-step-2.html">

<py:block name="heading">Une dernière chose…</py:block>

<py:block name="form">

    <p>
        Et finissons par faire un peu de bruit sur les réseaux
        <span class="u-NoWrap">sociaux !</span>
    </p>

    <input type="hidden" name="step" value="$step"/>

    <a class="btn btn-reverse btn-share btn-twitter" target="_blank"
        href="https://twitter.com/intent/tweet?text=…&amp;url=https%3A%2F%2Fsoutenonslaconvention.fr">
        <img src="${static('img/icon-twitter.svg')}" alt=""/>
        Partager sur Twitter
    </a>

    <button id="btn-fb-share" class="btn btn-reverse btn-share btn-fb" style="width: 100%">
        <img src="${static('img/icon-facebook.svg')}" alt=""/>
        Partager sur Facebook
    </button>

    <script>
    window.fbAsyncInit = function() {
        FB.init({
          appId            : '3346451028718611',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v7.0'
        });
    };
    </script>
    <script async="true" defer="true" src="https://connect.facebook.net/fr_FR/sdk.js">
    </script>
    <script>
        document.getElementById('btn-fb-share').onclick = function(e) {
            var fb_share_url = "https://soutenonslaconvention.fr";
            FB.ui({
                display: 'popup',
                method: 'share',
                href: fb_share_url,
                hashtag: '#soutenonsLaConvention'
              }, function(response){});
            return false;
        }
    </script>

    <div class="BlockBg-Footer u-Flex u-Flex-justifyFlexEnd">
        <button class="btn btn-reverse" type="submit">Terminer</button>
    </div>

</py:block>
</py:extends>
