<py:extends href="../support.html" py:whitespace="strip">

<py:block name="content">

    <style media="screen">
        .heart {
            max-width: 100px;
            margin-right: 1vw;
        }
        .next {

        }
        .next li {
            margin: 10px 0;
        }
    </style>

    <div class="wrapper">
        <div class="container">
            <h1>
                Merci !
            </h1>
            <p style="display: flex; justify-content: flex-start;">
                <img class="heart" src="${static('img/heart.svg')}" />
                <img class="heart" src="${static('img/heart.svg')}" />
                <img class="heart" src="${static('img/heart.svg')}" />
            </p>
            <p class="btn-group">
                <a class="btn" href="${urlfor('index')}">
                    Retour à la page d'accueil
                </a>
            </p>
            <!--p style="margin-top: 40px;">
                Quelle sera votre prochaine démarche ?
            </p>
            <ul class="next">
                <li>
                    <a href="${urlfor('soutiens')}" target="_blank">
                        Soutenir en tant qu'association ou entreprise
                    </a>
                </li>
                <li>
                    <a href="https://fr.ulule.com/les150/" target="_blank">
                        Soutenir le documentaire "Les 150" de Yann Arthus-Bertrand
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/SoutenonsLaCCC" target="_blank">
                        Nous suivre sur twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/les150ccc" target="_blank">
                        Rejoindre les 150 sur facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/les150ccc" target="_blank">
                        Participer à un Climapéro
                    </a>
                </li>
                <li>
                    <a href="https://www.voterpourleclimat.fr/" target="_blank">Voter pour le Climat</a>
                </li>
                <li>
                    <a href="" target="_blank">Voir la vidéo "On le fait"</a>
                </li>
                <li>
                    <a href="" target="_blank">Suivre les 150 citoyens</a>
                </li>
                <li>Mieux comprendre les assemblées citoyennes</li>
            </ul-->

        </div>
    </div>
</py:block>
</py:extends>
