<py:extends href="../base.html" py:whitespace="strip">
<py:block name="stylesheets">
    <link py:for="u in assets.urls('forms-css', environ=request.environ)" rel="stylesheet" href="$u" />
</py:block>
<py:block name="banner"/>
<py:block name="content">
    <style type="text/css">
    .RadioChoice {
        display: none;
    }
    .RadioChoice + * {
        opacity: 0.6;
        transition: all 0.3s;
        padding: 4px;
        width: 100%;
        height: 100%;
    }
    .RadioChoice:checked + * {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .PhotoChooser {
        display: flex;
        justify-content: space-between;
    }
    .PhotoChooser * {
        flex: 1 1 28%;
    }
    .PhotoChooser-Upload  {
        flex: 1 1 44%;
    }
    </style>
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet"/>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet"/>
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script src="https://unpkg.com/htmx.org@0.0.4"></script>
    <script>
    ready(function () {
        FilePond.registerPlugin(FilePondPluginImageExifOrientation);
        FilePond.registerPlugin(FilePondPluginImagePreview);
        FilePond.setOptions({server: '${urlfor("filepond-upload")}'});
        var inputElement = document.querySelector('input[type="file"]');
        var pond = FilePond.create(inputElement);
        pond.labelIdle = 'glisser-déposer ou <span class="filepond--label-action">choisir une photo</span>';

        document.querySelectorAll(".RadioChoice+*").forEach(function (node) {
            node.addEventListener("click", function () {
                document.getElementById(node.getAttribute("for")).checked = true;
             });
        });
    });
    </script>
    <div class="wrapper">
        <div class="container">
            <div class="u-Constrained u-Constrained-s">
                <h1 py:block="heading">Merci !</h1>
                <form method="POST">
                    <input type="hidden" name="step" value="$step"/>
                    <div py:block="form" class="BlockBg js-form-target u-Spaced">
                        <p>
                            Saviez-vous que le fait de montrer qui nous
                            soutient et pourquoi aidera d'autres personnes à
                            nous rejoindre ?
                        </p>
                        <label>
                            Nom (ou pseudo) à montrer sur la liste de supporters
                            <input name="display_name" type="text" value="${supporter.display_name or supporter.full_name}" placeholder="Prénom + nom (ou pseudo)"/>
                        </label>
                        <label>Je suis…
                            <select>
                                <option>…</option>
                                <option>Citoyen·ne</option>
                                <option>Scientifique</option>
                                <option>Personnalité de la Santé</option>
                            </select>
                        </label>
                        <div class="u-Flex u-Flex-justifyBetween PhotoChooser">
                            <py:choose>
                                <div py:when="bool(supporter.image_path)">
                                    <input id="photo-existing" class="RadioChoice" type="radio" name="photo-option" value="existing" checked=""/>
                                    <label for="photo-existing">
                                        <img src="${supporter.uploaded_image_url()}" style="max-width: 4em"/>
                                    </label>
                                </div>
                                <div py:when="bool(supporter.display_image)">
                                    <input id="photo-existing" class="RadioChoice" type="radio" name="photo-option" value="existing" checked=""/>
                                    <label for="photo-existing">
                                        <img src="${supporter.display_image_url()}" style="max-width: 4em"/>
                                    </label>
                                </div>
                            </py:choose>
                            <div class="PhotoChooser-Upload">
                                <input id="photo-upload" type="radio" class="RadioChoice" name="photo-option" value="upload"/>
                                <label for="photo-upload">
                                    Choisir un photo? <br/><input name="image" type="file" />
                                </label>
                            </div>
                            <div>
                                <input id="photo-none" type="radio" class="RadioChoice" name="photo-option" value="none" checked=""/>
                                <label for="photo-none">
                                    Pas de photo
                                </label>
                            </div>
                        </div>

                        <textarea name="reason" placeholder="Pourquoi soutenez-vous (facultatif)?"></textarea>
                        <p style="line-height: 1.3; font-size: 0.8rem">
                            Un soutien diversifié pour le CCC en ordre aidera à faire une réelle pression pour le changement. Mais tout le monde a des points de vue différents : votre raison pourrait être celle qui résonne.
                        </p>

                        <hr/>
                        <div class="u-Flex u-Flex-justifyBetween">
                            <button class="btn btn-secondary" name="skip" type="submit">Passer cette étape</button>
                            <button class="btn" type="submit">Continuer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</py:block>
</py:extends>
