<py:extends href="../support.html" py:whitespace="strip">
<py:block name="banner"/>
<py:block name="content">
    <style type="text/css">
    .RadioChoice {
        display: none;
    }
    .RadioChoice + * {
        opacity: 0.9;
        transition: all 0.3s;
        padding: 10px;
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .RadioChoice:checked + * {
        opacity: 1;
        outline: 2px solid #fff;
    }
    .PhotoChooser {
        display: flex;
        justify-content: space-between;
        margin-right: -10px;
    }
    .PhotoChooser > * {
        margin-right: 10px;
    }
    .PhotoChooser > *:hover {
        opacity: 1;
        outline: 2px solid #fff;
        cursor: zoom-in;
    }
    .PhotoChooser label:hover {
        cursor: pointer;
    }
    .PhotoChooser * {
        flex: 1 1 28%;
    }
    .PhotoChooser-Upload  {
        flex: 1 1 44%;
    }
    .filepond--label-action {
        display: block;
    }
    .filepond--panel-root {
        border-radius: 3px !important;
    }
    .no-picture-please {
        opacity: 0.5;
        max-width: 100px;
    }
    .label-top {
        display: block;
        margin-bottom: 10px;
    }
    @media (max-width: 800px) {
        .PhotoChooser-Upload {
            display: none;
        }
        .btn-secondary {
            display: none;
        }
    }
    </style>
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet"/>
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet"/>
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script>
    ready(function () {
        FilePond.registerPlugin(FilePondPluginImageExifOrientation);
        FilePond.registerPlugin(FilePondPluginImagePreview);
        FilePond.setOptions({server: '${urlfor("filepond-upload")}'});
        var inputElement = document.querySelector('input[type="file"]');
        var pond = FilePond.create(inputElement);
        pond.labelIdle = 'glisser-déposer ou <span class="filepond--label-action">choisir une photo</span>';

        document.querySelectorAll(".RadioChoice+*").forEach(function (node) {
            node.addEventListener("click", function () {
                document.getElementById(node.getAttribute("for")).checked = true;
             });
        });
    });
    </script>
    <div class="wrapper">
        <div class="container">
            <div class="u-Constrained u-Constrained-m">
                <h1 py:block="heading"></h1>
                <form method="POST">
                    <input type="hidden" name="step" value="$step"/>
                    <div py:block="form" class="BlockBg js-form-target u-Spaced">
                        <h3 class="form-section-title">Infos publiques</h3>
                        <p class="form-section-explanation">
                            Montrer qui soutient - et pourquoi - aidera d'autres à
                            vous rejoindre.
                        </p>
                        <label>
                            Nom ou pseudo
                            <input name="display_name" type="text" value="${supporter.display_name or supporter.full_name}" />
                        </label>

                        <label>
                            Pourquoi soutenez-vous la Convention ? (facultatif)
                            <textarea name="reason">
                                ${supporter.reason}
                            </textarea>
                        </label>

                        <div class="u-Flex u-Flex-justifyBetween PhotoChooser" style="margin-top: 30px"
                            py:with="selected = 'existing' if supporter.display_image else 'none'">
                            <div py:if="bool(supporter.image_path)">
                                <!-- photo previously uploaded or social media photo -->
                                <input id="photo-existing" class="RadioChoice" type="radio" name="photo_option" value="&quot;existing&quot;" checked="${1 if selected == 'existing' else None}"/>
                                <label for="photo-existing" style="width: 100%; height: 100%;" class="photo-existing">
                                    <span class="label-top">Votre photo</span>
                                    <img src="${supporter.uploaded_image_url()}" style="max-width: 4em"/>
                                </label>
                            </div>
                            <div>
                                <input id="photo-none" type="radio" class="RadioChoice" name="photo_option" value="&quot;none&quot;" checked="${1 if selected == 'none' else None}"/>
                                <label for="photo-none">
                                    <span class="label-top">Pas de photo</span>
                                    <img class="no-picture-please" src="${static('img/no-picture-please.svg')}" />
                                </label>
                            </div>
                            <div class="PhotoChooser-Upload">
                                <input id="photo-upload" type="radio" class="RadioChoice" name="photo_option" value="&quot;upload&quot;" checked="${1 if selected == 'upload' else None}"/>
                                <label for="photo-upload">
                                    <span class="label-top">Choisir une photo</span>
                                    <input name="image_path" type="file" />
                                </label>
                            </div>
                        </div>


                        <div class="BlockBg-Footer u-Flex u-Flex-justifyBetween">
                            <button class="btn btn-secondary btn-reverse" name="skip" type="submit">Passer cette étape</button>
                            <button class="btn btn-reverse" type="submit">Continuer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</py:block>
</py:extends>
