<py:extends href="../support.html">

<py:block name="content">

<div class="wrapper">
<div class="container">
    <style type="text/css">
    :root {
        --sigin-border-color: var(--green);
        --sigin-divider-color: var(--green);
    }
    .SigninField {
        border: 1px solid #44a777 !important;
        border: 1px solid var(--sigin-border-color) !important;
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
    .SigninField + .btn {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .SigninOptionsDivider {
        text-align: center;
        display: block;
        overflow: hidden;
        position: relative;
    }
    .SigninOptionsDivider::before {
        border-top: 1px solid var(--sigin-divider-color);
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        height: 5px;
        z-index: -1;
    }
    .SigninOptionsDivider > *{
        display: inline-block;
        background: white;
        padding: 0.5em;
    }
    .SigninOption {
        width: 100%;
        display: block;
        font-size: 1.2rem;
        text-align: center;
        padding: 1em;
    }
    </style>
    <div class="petition-cta">
        <div class="u-Spaced" style="max-width: 30em; margin: auto;">
            <div class="u-Spaced">
                <a class="SigninOption btn" href="${urlfor('oauth-login', provider='google')}">
                    <div class="u-Flex u-Flex-colGap u-Flex-alignItemsCenter">
                        <img src="${static('img/btn_google_light_normal_ios.svg')}" style="width: 4em" alt=""/>
                        <div>J'apporte mon soutien<br />
                            en me connectant<br />
                            avec Google
                        </div>
                    </div>
                </a>
                <a class="SigninOption btn" href="${urlfor('oauth-login', provider='facebook')}">
                    <div class="u-Flex u-Flex-colGap u-Flex-alignItemsCenter">
                        <img src="${static('img/icon-fb-white-square.png')}" style="width: 4em" alt=""/>
                        <div>J'apporte mon soutien<br />
                            en me connectant<br />
                            avec Facebook
                        </div>
                    </div>
                </a>
            </div>
            <a class="SigninOptionsDivider"><span>OU</span></a>
            <form method="post">
                <input class="SigninField SigninOption" name="email"
                type="email" value="${request.get('email')}" placeholder="adresse email"/>
                <button class="btn" style="width:100%; text-align: center;" type="submit">
                    J'apporte mon soutien
                </button>
            </form>
        </div>
    </div>

</div>
</div>



</py:block>
</py:extends>
