<py:extends href="../support.html" py:whitespace="strip">
<py:block name="banner"/>
<py:block name="content">
    <style type="text/css">
    .label-top {
        display: block;
        margin-bottom: 10px;
    }
    @media (max-width: 800px) {
        .btn-secondary {
            display: none;
        }
    }
    </style>
    <div class="wrapper">
        <div class="container">
            <div class="u-Constrained u-Constrained-m">
                <h1 py:block="heading"></h1>
                <form method="POST" class="FormNoBorders">
                    <input type="hidden" name="step" value="$step"/>
                    <div py:block="form" class="BlockBg js-form-target u-Spaced">
                        <h3 class="form-section-title">Infos statistiques</h3>
                        <p class="form-section-explanation">
                            Ces champs seront uniquement utilisés à des fins statistiques.
                        </p>
                        <label>
                            <select name="year_of_birth">
                                <option>Année de naissance…</option>
                                <py:for each="(start, end), selected in year_of_birth_range_options">
                                    <option value="${json([start, end])}" selected="${1 if selected else None}">
                                        <py:choose>
                                            <py:when test="start is None">avant $end</py:when>
                                            <py:when test="end is None">$start ou après</py:when>
                                            <py:otherwise>$start – ${end - 1}</py:otherwise>
                                        </py:choose>
                                    </option>
                                </py:for>
                            </select>
                        </label>
                        <label>
                            <select name="occupation_id">
                                <option value="">Je suis…</option>
                                <option
                                    py:for="value, label in occupation_options"
                                    value="$value"
                                    selected="${1 if value == supporter.occupation_id else None}"
                                >$label</option>
                            </select>
                        </label>
                        <label class="u-Flex u-Flex-colGap u-Flex-alignItemsStart">
                            <span style="line-height: 1.5em"><input type="checkbox" value="1" name="signed_mesopinions_petition" checked="${1 if supporter.signed_mesopinions_petition else None}"/></span>
                            <span><b>J'ai déjà signé</b> la pétition de soutien à la contribution de sortie de crise</span>
                        </label>
                        <div class="BlockBg-Footer u-Flex u-Flex-justifyBetween">
                            <button class="btn btn-secondary btn-reverse" name="skip" type="submit">Passer cette étape</button>
                            <button class="btn btn-reverse" type="submit">Continuer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</py:block>
</py:extends>
