{% extends 'base.html.twig' %}

{% block content %}

<div class="wrapper">
<div class="container">
    <h2>
        Test 1
    </h2>

    <div class="petition-cta">
        <a class="btn" target="_blank"
        href="https://www.mesopinions.com/petition/nature-environnement/sortie-crise-soutenons-convention-citoyenne-climat/86134">
        Voir la pétition</a>
    </div>

        <h2>Test 2</h2>
        <a class="btn" target="_blank"
        href="https://www.mesopinions.com/petition/nature-environnement/sortie-crise-soutenons-convention-citoyenne-climat/86134">
        Voir la pétition</a>

        <h2>Test 3</h2>
        <a class="btn"
        href="https://www.mesopinions.com/petition/nature-environnement/sortie-crise-soutenons-convention-citoyenne-climat/86134">
        Voir la pétition</a>


        <h2>Test 4</h2>
        <a class="btn" href="https://www.mesopinions.com/petition/nature-environnement/sortie-crise-soutenons-convention-citoyenne-climat/86134">Voir la pétition</a>



        <h1>Si aucun des 4 permiers ne fonctionnent .... </h1>

        <h2>Test 5</h2>
        <a href="https://www.mesopinions.com/petition/nature-environnement/sortie-crise-soutenons-convention-citoyenne-climat/86134">Voir la pétition</a>

        <h2>Test 6</h2>
        <a href="https://www.asef-asso.fr/">Asef</a>


        <h2>Test 7</h2>
        <a class="btn" href="https://www.asef-asso.fr/">Asef</a>

        <h2>Test 8</h2>
        <a class="btn" href="https://www.mesopinions.com/fr">Mes opinions.com</a>


</div>
</div>



{% endblock %}
