<footer>
    <div class="wrapper">
    <div class="container">

        <h3>Soutenons La Convention</h3>
        <p>#soutenonsLaConvention</p>
        <p>
            <a target="_blank" href="https://www.facebook.com/Soutenons-la-Convention-102637561438247">
                <img src="${static('img/icon-facebook-white.png')}" alt=""/>
            </a>
            <a target="_blank" href="https://twitter.com/SoutenonsLaCCC">
                <img src="${static('img/icon-twitter-white.png')}" alt=""/>
            </a>
        </p>
        <p>contact@soutenonslaconvention.fr</p>

        <br/>
        <h3>La Convention Citoyenne pour le Climat</h3>
        <p>
            <a target="_blank" href="https://www.conventioncitoyennepourleclimat.fr/">
                conventioncitoyennepourleclimat.fr
            </a>
        </p>
        <p>
            <a target="_blank" href="https://www.facebook.com/ConvCitoyenne">
                <img src="${static('img/icon-facebook-white.png')}" alt=""/>
            </a>
            <a target="_blank" href="https://twitter.com/Conv_Citoyenne">
                <img src="${static('img/icon-twitter-white.png')}" alt=""/>
            </a>
            <a target="_blank" href="https://www.instagram.com/conv_citoyenne/">
                <img src="${static('img/icon-instagram-white.png')}" alt=""/>
            </a>
        </p>
        <p class="footnotes">
            <a class="privacy" href="{{ path('privacy') }}" target="_blank">
                Politique de confidentialité
            </a>
        </p>
    </div>
    </div>
</footer>
