<footer>
    <div class="wrapper">
    <div class="container">

        <style type="text/css">
        .AnimatedSuggestionBox {
            overflow: hidden;
            position: relative;
        }
        .SlideLeft {
            animation: 0.3s ease 1 slideLeft forwards;
        }
        .SuggestionSubmitted {
            position: absolute;
            left: -100%;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }
        @keyframes slideLeft {
            to {
                transform: translate(100%);
            }
        }
        </style>

        <script>
        document.addEventListener(
            "suggestionSubmitted",
            function () {
                document.querySelectorAll(".SuggestionSubmitted,.SuggestionForm").forEach(
                    function (n) {
                        n.classList.add('SlideLeft');
                    }
                );
            }
        );
        </script>

        <py:block name="suggestion-box">
            <p>
                Avez-vous une suggestion à faire sur la façon dont vous pourriez
                aider à faire connaître ce projet?
            </p>
            <div class="js-suggestion-target AnimatedSuggestionBox">
                <div class="SuggestionSubmitted">Merci pour votre suggestion!</div>
                <div class="SuggestionForm">
                    <textarea name="suggestion"></textarea>
                    <div class="u-AlignRight">
                        <button class="btn btn-s" hx-post="${urlfor('submit-suggestion')}" hx-target=".js-suggestion-target">
                            Envoyer
                        </button>
                    </div>
                </div>
            </div>
        </py:block>


        <h3>Soutenons La Convention</h3>
        <p>#soutenonsLaConvention</p>
        <p>
            <a target="_blank" href="https://www.facebook.com/Soutenons-la-Convention-102637561438247">
                <img src="${static('img/icon-facebook-white.png')}" alt=""/>
            </a>
            <a target="_blank" href="https://twitter.com/SoutenonsLaCCC">
                <img src="${static('img/icon-twitter-white.png')}" alt=""/>
            </a>
        </p>
        <p>contact@soutenonslaconvention.fr</p>

        <br/>
        <h3>La Convention Citoyenne pour le Climat</h3>
        <p>
            <a target="_blank" href="https://www.conventioncitoyennepourleclimat.fr/">
                conventioncitoyennepourleclimat.fr
            </a>
        </p>
        <p>
            <a target="_blank" href="https://www.facebook.com/ConvCitoyenne">
                <img src="${static('img/icon-facebook-white.png')}" alt=""/>
            </a>
            <a target="_blank" href="https://twitter.com/Conv_Citoyenne">
                <img src="${static('img/icon-twitter-white.png')}" alt=""/>
            </a>
            <a target="_blank" href="https://www.instagram.com/conv_citoyenne/">
                <img src="${static('img/icon-instagram-white.png')}" alt=""/>
            </a>
        </p>
        <p class="footnotes">
            <a class="privacy" href="${urlfor('about')}" target="_blank">
                Qui sommes-nous
            </a>
            -
            <a class="privacy" href="${urlfor('privacy')}" target="_blank">
                Politique de confidentialité
            </a>
        </p>
    </div>
    </div>
</footer>
