<header class="header">
    <div class="wrapper">
        <div class="container menu">
            <a href="{{ path('index') }}">Accueil</a>
            <a href="{{ path('about') }}">Qui sommes-nous</a>
        </div>
    </div>
    <div class="wrapper banner">
        <div class="container">
            <img src=" {{ asset('img/soutenonslaconvention.png') }}" alt="Soutenons La Convention">
        </div>
    </div>
</header>
