<header class="header">
    <div class="wrapper">
        <div class="container menu" py:with="route_name = context.route_traversal.route.name">
            <a href="${urlfor('index')}" class="${'active' if route_name == 'index' else ''}">Accueil</a>
            <a href="${urlfor('soutiens')}" class="${'active' if route_name == 'soutiens' else ''}">Soutiens</a>
            <a href="${urlfor('about')}" class="${'active' if route_name == 'about' else ''}">Qui sommes-nous</a>
        </div>
    </div>
    <py:block name="banner">
    <div class="wrapper banner">
        <div class="container">
            <h1 class="title">
                <div class="title-line1">Soutenons La Convention</div>
                <div class="title-line2">Citoyenne pour le Climat</div>
            </h1>
            <h2 class="hashtags">
                <div class="hashtag1">#soutenonsLaConvention</div>
                <div class="hashtag2">#avecLes150</div>
            </h2>
            <div class="counter">
                <span class="counter-count">25 000</span>
                <span class="counter-sign">soutiens</span>
                <span class="counter-since">depuis le 13 avril</span>
            </div>
        </div>
    </div>
    </py:block>
</header>
