<header class="header">
    <div class="wrapper">
        <div class="container menu" py:with="route_name = context.route_traversal.route.name">
            <a href="${urlfor('index')}" class="${'active' if route_name == 'index' else ''}">Accueil</a>
            <a href="${urlfor('soutiens')}" class="${'active' if route_name == 'soutiens' else ''}">Soutiens</a>
        </div>
    </div>
    <py:block name="banner">
    <div class="wrapper banner">
        <div class="container">
            <h1 class="title">
                <div class="title-line1">Soutenons La Convention</div>
                <div class="title-line2">Citoyenne pour le Climat</div>
            </h1>
            <h2 class="hashtags">
                <div class="hashtag1">Initiative transpartisane</div>
            </h2>
            <div class="counter-wrapper">
                <div class="counter">
                    <span class="counter-count"><!--#include virtual="/petition-count" --></span>
                    <span class="counter-sign">soutiens</span>
                </div>
                <py:block name="counter-cta">
                    <a class="counter-cta btn-i-support" target="_blank" href="${urlfor('support-us')}">
                        JE SOUTIENS
                    </a>
                </py:block>
            </div>
        </div>
    </div>
    </py:block>
</header>
