<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Soutenons la Convention{% endblock %}</title>
        <link rel="stylesheet" href="/css/main.css?v=4" />
        {% block stylesheets '' %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2063915-19"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-2063915-19');
        </script>
    </head>
    <body>
        {% block header %}
        {% include 'includes/menu.html.twig' %}
        {% endblock %}

        {% block content '' %}

        {% block footer %}
        {% include 'includes/footer.html.twig' %}
        {% endblock %}

        {% block javascripts '' %}
    </body>
</html>
