<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="Soutenons la Convention"/>
        <meta property="og:url" content="{{ url('index') }}"/>
        <meta property="og:description" content="Il y a 6 mois a démarré un processus démocratique qui répond aux enjeux du moment : la Convention Citoyenne pour le Climat."/>
        <meta property="og:image" content="{{ absolute_url(asset('img/soutenons-la-convention-v2.png')) }}"/>
        <meta property="og:image:width" content="600"/>
        <meta property="og:image:height" content="315"/>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ absolute_url(asset('img/soutenons-la-convention-v2.png')) }}">
        <meta name="twitter:site" content="@SoutenonsLaCCC">
        <meta name="twitter:title" content="Soutenons la Convention">
        <title>{% block title %}Soutenons la Convention{% endblock %}</title>
        <link rel="stylesheet" href="/css/main.css?v=10" />
        {% block stylesheets '' %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2063915-19"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-2063915-19');
        </script>
    </head>
    <body>
        {% block header %}
        {% include 'includes/header.html.twig' %}
        {% endblock %}

        {% block content '' %}

        {% block footer %}
        {% include 'includes/footer.html.twig' %}
        {% endblock %}

        {% block javascripts '' %}
    </body>
</html>
