<!DOCTYPE html>
{% set asset_version = 18 %}
<html>
    <head>
        {% block head %}
        {% include 'includes/head.html.twig' %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        {% include 'includes/header.html.twig' %}
        {% endblock %}

        {% block content '' %}

        {% block footer %}
        {% include 'includes/footer.html.twig' %}
        {% endblock %}

        {% block javascripts '' %}
    </body>
</html>
