<p>
    Professeur Dominique Belpomme
    <span class="soutien-item-title">Cancérologue, Président de ARTAC, PARIS</span>
</p>
<p>
    Professeur Eric Feraille
    <span class="soutien-item-title">Associate Professor Department PHYME Service of Nephrology University Medical center HUG Genève</span>
</p>
<p>
    Professeur Bernard Guillois
    <span class="soutien-item-title">Chef du service néonatalogie du CHU de Caen</span>
</p>
<p>
    Professeur Pierre Lecompte
    <span class="soutien-item-title">Endocrinologie Diabétologie du CHRU de Tours</span>
</p>
<p>
    Professeur Charles Sultan
    <span class="soutien-item-title">Chef du service d’hormonologie au CHU de Montpellier</span>
</p>
<p>
    Professeur Jean-Paul Viard
    <span class="soutien-item-title">Immunologie à l’APHP Hôtel Dieu Paris</span>
</p>
