<p>
    <a target="_blank" href="http://jeandominiquemichel.com/">Jean-Dominique Michel</a>
    <span class="title">Antropologue de la santé</span>
</p>
<p>
    <a target="_blank" href="https://fr.wikipedia.org/wiki/Serge_Morand">Serge Morand</a>
    <span class="title">Écologue</span>
</p>
<p>
    <a target="_blank" href="https://www.matthieuricard.org/">Matthieu Ricard</a>
    <span class="title">Philosophe, écrivain</span>
</p>
<p>
    <a target="_blank" href="http://nicolasvanier.com/">Nicolas Vanier</a>
    <span class="title">Aventurier</span>
</p>
