<p>
    <a target="_blank" href="https://www.matthieuricard.org/">Matthieu Ricard</a>
    <span class="title">Philosophe, écrivain</span>
</p>
<p>
    <a target="_blank" href="http://nicolasvanier.com/">Nicolas Vanier</a>
    <span class="title">Aventurier</span>
</p>
