<p>
    <a target="_blank" href="https://www.futura-sciences.com/planete/personnalites/oceanographie-laurence-eymard-111/">Laurence Eymard</a>
    <span class="soutien-item-title">Directrice de recherche émérite du CNRS</span>
</p>
<p>
    <a target="_blank" href="http://jeandominiquemichel.com/">Jean-Dominique Michel</a>
    <span class="soutien-item-title">Antropologue de la santé</span>
</p>
<p>
    <a target="_blank" href="https://fr.wikipedia.org/wiki/Serge_Morand">Serge Morand</a>
    <span class="soutien-item-title">Écologue</span>
</p>
