<html>
    <body>
        <div style="max-width: 30em; margin: 1em auto; font-family: 'Open Sans', Verdana, 'Helvetica Neue', Arial, Helvetica" py:filter="markdown">
            Bonjour,

            Merci de valider votre soutien à la **Convention Citoyenne pour le Climat**

            en cliquant sur le lien ci-dessous :

            <a href="$url" style="color:white"><div style="overflow: hidden; margin: 2em auto; text-align: center; font-weight: bold; font-size: 120%; background: #44a777; padding: 1em; color: white; border-radius: 4px;">Validez votre soutien</div></a>
        </div>
    </body>
</html>
